.table-section {
//   padding: 10px;
  table {
    thead {
      tr {
        th {
          padding: 10px;
          text-align: left;
          border-bottom: 2px solid #000000;
        }
      }
    }
    tbody {
      tr {
        
        td {
          padding: 10px;
          border-bottom: 1px solid #000000;
        }
        td {
          padding: 20px;
          border-bottom: 1px solid #000000;
        }
      }
    }
  }
}

.no-data{
    padding: 30px;
}

/* Modal container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1000;
  }
.comment-modal {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-10%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1000;
  }
  
  /* Overlay behind the modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* Close button */
  .close-btn {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-btn:hover {
    background-color: #ccc;
  }
  