// custom CONTAINER WIDTH

.custom-container {
    margin: 0 auto;
    padding: 0 7.5px;
  }
  
  /* Extra small */
  @media (max-width: 576px) {
    .custom-container {
      width: 100%;
    }
  }
  
  /* Small */
  @media (min-width: 576px) {
    .custom-container {
      max-width: 540px;
    }
  }
  
  /* Medium */
  @media (min-width: 768px) {
    .custom-container {
      max-width: 720px;
    }
  }
  
  /* Large */
  @media (min-width: 992px) {
    .custom-container {
      max-width: 960px;
    }
  }
  
  /* X-Large */
  @media (min-width: 1200px) {
    .custom-container {
      max-width: 1140px;
    }
  }
  
  /* XX-Large */
  @media (min-width: 1400px) {
    .custom-container {
      max-width: 1320px;
    }
  }
  
  /* XXX-Large */
  @media (min-width: 1600px) {
    .custom-container {
      max-width: 1500px;
    }
  }
  