html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    position: relative;
    // font-family: "Roboto", sans-serif;
    // font-family: "El Messiri", sans-serif;
    overflow-x: hidden;
    font-size: 1.6rem;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    line-height: inherit;
  }
  
  section {
    max-width: 100vw;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  label {
    margin: 0;
    padding: 0;
  }
  
  button {
    &:focus {
      outline: none;
    }
  }
  
  .btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  ul,
  li {
    padding: 0;
    list-style: none;
    margin: 0px;
  }
  
  .form-control {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  img {
    width: 100%;
    object-fit: cover;
  }
  
  .nav-link {
    &:hover {
      color: #fff;
    }
  }