.header_mobile {
    background: #1F6CAB;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 40rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    right: 0;
    z-index: 101;

    @media (max-width: 991.98px) {
      padding: 1.7rem 0.75rem;
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }

    &.open {
      transform: none;
      transition: transform 0.3s ease-in-out;
      height: 100%;
      overflow-y: auto;
    }

    ul {
      margin-top: 3rem;

      li {
        padding: 3rem 0;
        position: relative;

        border-bottom: 1px solid #fff;
      

        // &:not(:last-child) {
        //   border-bottom: 1px solid #fff;
        // }

        a {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-size: 1.6rem;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

.open {
    display: block;
  }