.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-pagination-bullet{
    height: 15px !important;
    width: 15px !important;
    @media (max-width: 575.98px) {
        height: 12px !important;
        width: 12px !important;
      }
    background-color: #DADADA !important;
    opacity: 100% !important;
}
.swiper-pagination-bullet-active{
    background-color: #1F6CAB !important;
}
  
//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
  